<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <p>Hi~ {{request.user}} 歡迎預約!</p>
        {{form.as_p}}
        {{created_by}}
        <input type = "submit" value = "預約">
        {% else %}
        <p>您尚未登入唷~</p>
        <a href= "{% url 'login' %}">回到登入頁面</a><br>
        <a href= "{% url 'Order_System:order_list' %}">查看目前預約狀態</a>
        {% endif %}
    </form>
    
</body>
</html>